/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ee2436;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25 px;
  color: white;
  display: block;
}

/* When hover over navigation links, change colour */
.sidenav a:hover {
  color: black
}

/* Style page content */
.main {
  margin-left: 160px;
  padding: 0px 10px;
}

/* Center images */
.main figure {
  text-align: center;
}
.main figcaption {
  font-style: italic;
  font-size: small;
}

/* Scale images down */
.main img {
  width: 80%;
}

/* Header */
.main .header {
  padding: 8px;
  background-image: url("header-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 3px 3px 6px black, -3px -3px 6px black, -3px 3px 6px black, 3px -3px 6px black;
  color: white;
}

/* Table border */
.main table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.main th, td {
  padding: 3px;
  text-align: center;
}
.main caption {
  font-style: italic;
  font-size: small;
}